<div class="container text-justify">
    <h1>About Us</h1>
    <br/>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. When signing up to DevMatch, you 
    have a choice between two account types. These can be seen below. </p>
    
    <div class="row">
        <div class="col-lg-6 text-center">
            <h2>Basic Account</h2>
            <ul class="list-group">
                <li class="list-group-item">No cost</li>
                <li class="list-group-item">User profiles</li>
                <li class="list-group-item">Limited community access: view services with <strong>no</strong> contact information</li>
            </ul>
        </div>
        <div class="col-lg-6 text-center">
            <h2>Pro Account</h2>
            <ul class="list-group">
                <li class="list-group-item">Costs £10/month</li>
                <li class="list-group-item">User profiles</li>
                <li class="list-group-item">Full community access: view services <strong>with</strong> contact information</li>
            </ul>
        </div>
    </div>
</div>

<!--

<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>

-->