<div class="home-callout text-center container-fluid"> <!--Added this class name so we can apply css gradient to title only, not the entire page-->
                        <!-- text center is a bootstrap class name -->
                        <!-- container-fluid is also a bootstrap class name -->
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>