<div class="home-callout text-center container-fluid"> <!--Added this class name so we can apply css gradient to title only, not the entire page-->
                        <!-- text center is a bootstrap class name -->
                        <!-- container-fluid is also a bootstrap class name -->
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>
<div class="container home-signup-links">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <h4 class="text-center"> A free account with basic access to the community. </h4>
                <br/>
                <%= link_to "Sign up with a basic membership plan", "#", class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Pro Membership</h2>
                <h4 class="text-center"> A paid account with full access to the community including contact information! </h4>
                <%= link_to "Sign up with a pro membership plan (£10/month)", "#", class: 'btn btn-success btn-lg btn-block' %>
            </div>
        </div>
    </div>
</div>