<div class="home-callout text-center container-fluid"> <!--Added this class name so we can apply css gradient to title only, not the entire page-->
                        <!-- text center is a bootstrap class name -->
                        <!-- container-fluid is also a bootstrap class name -->
    <h1>Welcome to DevMatch</h1>
    <h3>A membership site where entrepreneurs can meet developers.</h3>
</div>
<div class="container home-signup-links">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Basic Membership</h2>
                <h4 class="text-center"> A free account with basic access to the community. </h4>
                <br/>
                <%= link_to "Sign up with a basic membership plan", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2 class="text-center">Pro Membership</h2>
                <h4 class="text-center"> A paid account with full access to the community including contact information! </h4>
                <%= link_to "Sign up with a pro membership plan (£10/month)", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>
            </div>
        </div>
        <div class="col-lg-12 text-center text-justify">
            <h3><strong>Welcome to DevMatch</strong></h3>
            <p>This is a fictional website, therefore no real services are offered here so do not sign up for a pro account unless you want to give me your money for doing nothing!</p>
            <p>If you are an employer, please test all the features of this web app. You can sign up for a free or paid subscription account for £10/month. You can customise your user profile and make posts. The email 
            feature also works so you can contact me from within this site. However, I rarely check my DevMatch email address for mail as this is a fictional website so please contact me using the email address provided 
            in my CV. Thanks and enjoy this web app!</p>
        </div>
    </div>
</div>